<!DOCTYPE html>
<html>
<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script>

	var source = new EventSource("/progress");
	source.onmessage = function(event) {
		var bar1 = document.getElementById("pb1"); 
		var bar1_label = document.getElementById("pb1-label"); 
		var bar2 = document.getElementById("pb2"); 
		var bar2_label = document.getElementById("pb2-label"); 

		$(bar1).css('width', event.data+'%').attr('aria-valuenow', event.data);
		$(bar1_label).text(event.data+'%');

		$(bar2).css('width', (100-event.data)+'%').attr('aria-valuenow', event.data);
		$(bar2_label).text((100-event.data)+'%');
		if(event.data == 100){
			source.close()
		}
	}
	</script>
</head>
<body>
	<div class="progress" style="width: 50%; margin: 50px;">
		<div id="pb1" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			<span  id="pb1-label" class="progress-bar-label">0%</span>
		</div>
	</div>

		<div class="progress" style="width: 50%; margin: 50px;">
		<div id="pb2" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
			<span id="pb2-label" class="progress-bar-label">0%</span>
		</div>
	</div>
</div>
</body>
</html>